:root {
  --branding-color: #d5cfcf;
  --secondary-color: #053567;
  --tertiary-color: #d4a658;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Montserrat", sans-serif;
}

/* Elements */

a {
  text-decoration: none;
}
body,
html {
  font-family: var(--default-font-family);
  margin: 1%;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #053567;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

.text-muted {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: black;
}
/* Overlay Section */
#hover-btns {
  padding-top: 0;
}
.hover-btn {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;

  padding: 15px 30px;
}

.hover-btn:hover {
  background: #053567;
  color: #fff;
  border-color: (var(--branding-color));
}

.hover-icon {
  font-size: 2.5rem;
  color: var(--secondary-color);
  padding: 2%;
}
.hover-icon:hover {
  color: #fff;
}
.hover-text {
  padding: 5%;
  font-size: 16px;
  text-align: center;
}
.djchase-hover,
.tindog-hover,
.jammmin-hover,
.ravenous-hover,
.keeper-hover,
.taskmanager-hover,
.dicee-hover,
.random-hover {
  position: absolute;
  justify-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--tertiary-color);
}
#jammmin:hover .jammmin-hover {
  opacity: 1;
}
#ravenous:hover .ravenous-hover {
  opacity: 1;
}
#keeper:hover .keeper-hover {
  opacity: 1;
}
#taskmanager:hover .taskmanager-hover {
  opacity: 1;
}
#dicee:hover .dicee-hover {
  opacity: 1;
}
#random:hover .random-hover {
  opacity: 1;
}
#djchase:hover .djchase-hover {
  opacity: 1;
}
#tindog:hover .tindog-hover {
  opacity: 1;
}

#djchase,
#tindog,
#jammmin,
#ravenous,
#keeper,
#taskmanager,
#dicee,
#random {
  position: relative;
  display: block;
  box-sizing: border-box;
}

/* Homepage content */

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #053567;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
/* badge icons */
.icons {
  display: inline-grid;
  align-self: center;
  padding: 1rem 1rem;
  margin: 0 1px;
  color: black;
  background: #d8d8d8;
  font-size: 12px;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.badges {
  padding-left: 30%;
  padding-top: 10px;
}
.col-1 {
  padding: 0;
}

/* Animated emojis */
#myCarousel {
  height: 50px;
  font-size: 33px;
  width: 52%;
  align-self: center;
  padding-left: 49%;
}
#myCarousel .item {
  width: 100%;
  height: 115%;
}

/* Work Carousel */
#workCarousel {
  white-space: nowrap;
  margin: 50px;
}
#workCarousel div {
  display: inline-block;
}

#workCarousel img,#workCarousel video {
  width: 400px;
  height: 450px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  flex: 1;
  white-space: normal;
  margin: 0 25px;
  border: 1px solid #DCDFE3;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.05);
  vertical-align: top;
  text-align: left;
}

.sample-img:hover .workCard {
  opacity: 1;
}

.play {
  animation: moveRow 25s infinite linear;
}
.stop {
  animation-play-state: paused;
}

.workCard {
  border-radius: 5px;
  border: 1px solid #dcdfe3;
  margin-left: 10;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  position: absolute;
  justify-content: center;
  width: 450px;
  height: 450px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: var(--branding-color);
}

.workCard-text {
  padding: 25%;
  font-size: 40px;
  font-weight:100;
  text-align: center;
  color: var(--secondary-color);
}

.workCard-text2 {
  padding-top: 25%;
  font-size: 40px;
  font-weight:100;
  text-align: center;
  color: var(--secondary-color);
}


@keyframes moveRow {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-60%, 0, 0);
  }

  100% {
    transform: translate3d(10%, 0, 0);
  }
}


/* alphabetized */
.bookmarks li {
  list-style: none;
}
.btn-CTA {
  background: var(--secondary-color);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  margin-inline-start: 5px;
}

.btn-CTA:hover {
  background: var(--branding-color);
  color: var(--secondary-color);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: #053567;
  color: #ffffff;
  border-color: (var(--branding-color));
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid;
  border-color: black;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: black;
}

.case-study-img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 135px;
  z-index: 1;
  padding-right: 15px;
}
.case-study-img-2 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 200px;
  z-index: 2;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

/* .content p {
  font-size: 14px;
} */

.content {
  margin: 30px;
}

.experience {
  text-align: center;
}

.experience-list {
  color: #5f6c7b;
}

.project-desciption {
  padding: 120px 60px;
  margin-top: -120px;
}

.profile {
  padding-top: 50px;
}
.resume {
  height: 900px;
  width: 9000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.work-info {
  background-color: #5f6c7b;
}

.work-thumbnail {
  padding-left: 8%;
}
.work-thumbnail img {
  width: 100%;
  height: 100%;
}

#workCarousel {
  align-self: center;
  padding-left: 35%;
}

.img-fluid {
  height: 400px;
  width: 500px;
  border-radius: 30px;
}

.jump-list {
  font-size: 20px;
  list-style: none;
  color: black;
}

.logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
  width: 100px;
  height: 50px;
}

.mt-4 {
  padding-top: 10px;
}
/* Nav styles */
.navbar {
  padding-top: 3%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #094067;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

/* Footer styles */

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--branding-color);
  color: #ffffff;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #094067;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

/* Media queries */

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .badges {
    margin-right: 65px;
    padding-left: 0px;
    justify-content: center;
  }
}

@media only screen and (max-width: 760px) {
  .btn-CTA {
    font-size: 1rem;
  }
  .CTA-text {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .hover-text {
    display: none;
  }
  #hover-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1400px) {
  .hover-text {
    font-size: 14px;
  }
}

.section-hdg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.section-hdg-text {
  font-size: 33px !important;
}

.title-img {
  position: absolute;
  top: 190px;
  size: 400px;
  transform: rotate(5deg);
  z-index: 1;
}

/* logo */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
