:root {
  --branding-color:  #D5CFCF;
  --secondary-color: #053567;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: 'Montserrat', sans-serif;
}

/* Elements */
a {
  text-decoration: none;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #053567;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: black;
}
/* Homepage content */

.hero {
  
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #053567;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
/* badge icons */
.icons{
  display: inline-grid;
  align-self: center;
  padding: 1rem 1rem;
  margin: 0 1px;
  color: black;
  background: #D8D8D8;
  font-size: 12px;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

}

.badges{
  padding-left: 30%;
  padding-top: 10px;
}
.col-1{
  padding:0
}

/* Animated emojis */
#myCarousel {
  height: 50px;
  font-size: 33px;
  width: 52%;
  align-self: center;
  padding-left: 49%;


}
#myCarousel .item {
  width: 100%;
  height: 115%; 
}
/* alphabetized */


.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover{
  background: #053567;
  color: #ffffff;
  border-color: (var(--branding-color));

}


.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid;
  border-color: black;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: black;
}

.case-study-img{
  width: 400px;
  height: 400px;
  position:absolute;
  top: 135px;
  z-index: 1;
  padding-right: 15px;
}
.case-study-img-2{
  width: 500px;
  height: 500px;
  position:absolute;
  top: 200px;
  z-index: 2;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.experience{
  text-align: center;
}

.experience-list{
  color: #5f6c7b;
}

.project-desciption {
  padding: 120px 60px;
  margin-top: -120px;
}

.profile{
  padding-top: 50px;
}
.resume{
  height: 900px;
  width: 9000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.work-info{
  background-color: #5f6c7b;
}

 .work-thumbnail{
  padding-left: 8%;
 }
.work-thumbnail img {
  width: 500px;
  height: 307px;
}

#workCarousel{
  align-self: center;
  padding-left: 35%;
}

.img-fluid{
  height: 400px;
  width: 500px;
  border-radius: 30px;
}

.jump-list{
  font-size: 20px;
  list-style: none;
  color:black;
}

.logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
  width: 100px;
  height: 50px;
}

.mt-4{
  padding-top: 10px;
}
/* Nav styles */

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #094067;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

/* Footer styles */

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--branding-color);
  color: #ffffff;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #094067;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

/* Media queries */

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .badges{
    margin-right: 65px;
    padding-left: 0px;
    justify-content: center;
  }
 
}


.section-hdg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
 
}

.section-hdg-text{
  font-size: 33px !important;
}
.slides{
  
}
.title-img{
  position: absolute;
  top: 190px;
  size: 400px;
  transform: rotate(5deg);
  z-index: 1;
}

.ux-title{
  
}
/* logo */
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}